# Allow Half-Life-specific files that would otherwise be ignored
!lib/public/SDL2.lib
!utils/procinfo/lib/win32_vc6/procinfo.lib
!utils/vgui/lib/win32_vc16/vgui.lib
/cl_dll/Rev_particles.h
/cl_dll/Rev_particles.cpp
/cl_dll/filesystem.cpp
/cl_dll/particlemanager.cpp
/cl_dll/particlemanager.h
/cl_dll/elightlist.cpp
/cl_dll/elight.h
/cl_dll/elightlist.h
/cl_dll/elightlist.cpp
